{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block form %}
    <form action="{% url 'wiki:search' %}" method="post"> {% csrf_token %}
        <input class="search"  type="text" name="q" placeholder="Search Encyclopedia">
    </form>
{% endblock %}

{% block body %}
    <h1>All Pages</h1>
    <ul>
        {% for entry in entries %}
            <li><a href="{% url 'wiki:show' entry %}">{{ entry }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}