{% extends "encyclopedia/layout.html" %}
{% block title %} not found {% endblock %}

{% block body %}
        <h1>Page requested /{{ title }} not exist in our Encyclopedia!</h1>
        {% if entries|length < 1 %}
            <h3 style="margin-top: 10px">You can access the following pages:</h3>
            <ul>
                {% for entry in entries2 %}
                <li><a href="{% url 'wiki:show' entry %}">/{{ entry }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h3 style="margin-top: 10px">You can access the following pages:</h3>
            <ul>
                {% for entry in entries %}
                <li><a href="{% url 'wiki:show' entry %}">/{{ entry }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
{% endblock %}